.catalog {
  background-color: $color-black-pearl;

  &__wrapper {
    margin: 0 auto;
    max-width: 1920px;
    padding: 70px clamp($wrapper-padding-desktop-min, $wrapper-padding-desktop, $wrapper-padding-desktop-max) 140px;
    // background-color: $color-black-pearl;
  }

  & h2 {
    font-family: "Roboto Condensed", $font-sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-default-white;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: clamp($list-grid-gap-desktop-min, $list-grid-gap-desktop, $list-grid-gap-desktop-max);
  }

  &__item {
    position: relative;
    background-color: rgba(4, 24, 39, 0.5);
    width: clamp($card-width-desktop-min, $card-width-desktop, $card-width-desktop-max);

    h3 {
      margin: 0 clamp($title-margin-desktop-min, $title-margin-desktop, $title-margin-desktop-max);
      padding: 0;
      font-family: "Roboto Condensed", $font-sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: $color-default-white;
    }

    a {
      padding-top: 50px;
      display: block;
      width: 100%;
      max-width: 350px;
      min-height: 650px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $color-deep-sky-blue;
        background-image: url("../../img/svg/icon-products.svg");
        background-repeat: no-repeat;
        background-size: 6px;
        background-position: 50%;
      }
    }

    &--production a {
      background-image: $black-to-bottom-catalog, image-set(
        "../img/products_1.webp" 1x,
        "../img/products_1.png" 1x
      );

      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: $black-to-bottom-catalog, image-set(
          "../img/products_1@2x.webp" 2x,
          "../img/products_1@2x.png" 2x
        );
      }
    }

    &--montage a {
      background-image: $black-to-bottom-catalog, image-set(
        "../img/products_2.webp" 1x,
        "../img/products_2.png" 1x
      );

      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: $black-to-bottom-catalog, image-set(
          "../img/products_2@2x.webp" 2x,
          "../img/products_2@2x.png" 2x
        );
      }
    }

    &--accessories a {
      background-image: $black-to-bottom-catalog, image-set(
        "../img/products_3.webp" 1x,
        "../img/products_3.png" 1x
      );

      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: $black-to-bottom-catalog, image-set(
          "../img/products_3@2x.webp" 2x,
          "../img/products_3@2x.png" 2x
        );
      }
    }

  }
}
