.feedback {
  background-color: $color-deep-sky-blue;
  position: relative;
}

.feedback__wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding: 165px clamp($wrapper-padding-desktop-min, $wrapper-padding-desktop, $wrapper-padding-desktop-max) 249px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include vp-1439 {
    padding-left: 8%;
    padding-right: 8%;
    min-width: 1024px;
  }

  @include vp-1023 {
    padding: 45px clamp($wrapper-padding-tablet-min, $wrapper-padding-tablet, $wrapper-padding-tablet-max) 125px;
    min-width: 768px;
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    padding: 47px clamp($wrapper-padding-mobile-min, $wrapper-padding-mobile, $wrapper-padding-mobile-max) 87px;
    min-width: 320px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent-3;
    clip-path: polygon($before-right-position-desktop 0, 0% 100%, 0 0);

    @include vp-1023 {
      display: none;
    }
  }
}

.feedback__picture {
  padding: 0;
  margin-top: 81px;
  position: relative;
  z-index: 1;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form {
  position: relative;
  z-index: 1;
}

.feedback h2 {
  font-family: "Roboto Condensed", $font-sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140.62%;
    margin-bottom: 8px;
  }
}

.feedback p {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-left: 5px;

  @include vp-1023 {
    margin-bottom: 25px;
    margin-left: -1px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
    margin-bottom: 33px;
  }
}

.feedback form {
  display: grid;
  grid-template-columns: repeat(2, 46.5%);
  column-gap: 30px;
  row-gap: 20px;
  margin-left: 5px;

  @include vp-1023 {
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    position: relative;
  }
}

.feedback input {
  box-sizing: border-box;
  border: none;
  background: $color-transparent-2;
  border-radius: 3px;
  padding: 15px;

  &::placeholder {
    font-family: "PT Mono", $font-monospace;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }

  @include vp-1023 {
    padding-top: 16px;
  }

  @include vp-767 {
    padding-bottom: 16px;
  }
}

.feedback input[type="text"] {
  grid-column: 1/2;
  grid-row: 1/2;

  &:invalid {
    outline-color: $color-torch-red;
  }
}

.feedback input[type="tel"] {
  grid-column: 2/-1;
  grid-row: 1/2;

  &:invalid {
    outline-color: $color-torch-red;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.feedback textarea {
  grid-column: 1 /-1;
  resize: none;
  padding: 25px 15px;
  height: 155px;
  box-sizing: border-box;
  border: none;
  background: $color-transparent-2;
  border-radius: 3px;
  margin-bottom: 16px;

  &::placeholder {
    font-family: "PT Mono", $font-monospace;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }

  @include vp-1023 {
    padding: 30px 15px;
    margin-bottom: 15px;
  }

  @include vp-767 {
    padding: 22px 15px;
    height: 179px;
    margin-bottom: 10px;
  }
}

.feedback button {
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $color-default-white;
  padding: 15px 25px 11px;
  margin-right: 10px;

  @include vp-1023 {
    margin-right: 55px;
    padding: 16px 25px 10px 25px;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
  }
}

.feedback input[type="checkbox"] {
  position: relative;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  &:checked + span {
    background-image: url("../img/svg/checkbox.svg");
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: 50%;
    color: $color-default-white;
  }

  &:focus + span {
    outline: 2px solid $color-default-black;
  }

  &:invalid + span {
    outline-color: $color-torch-red;

    &::after {
      color: $color-torch-red;
      content: "Необходимо согласиться на обработку данных";
      display: block;
      width: 200px;
      height: 30px;
      position: absolute;
      font-size: 15px;
      top: 30px;
      left: 0;
    }
  }
}

.feedback__checkbox {
  margin-left: 37px;

  @include vp-1023 {
    margin-left: 28px;
  }

  @include vp-767 {
    margin-top: -5px;
    margin-left: 33px;
  }

  label {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-content: flex-end;
    padding-top: 14px;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
    text-align: left;

    @include vp-1023 {
      padding-top: 11px;
    }
  }

  span {
    position: absolute;
    top: 48%;
    left: -26px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid $color-default-white;

    @include vp-1023 {
      padding-top: 11px;
      transform: translateY(-3px);
    }

    @include vp-767 {
      transform: translateY(-5px);
    }
  }
}

.feedback__checkbox--modal {
  p {
    margin-bottom: 0;
  }

  label {
    padding-top: 0;
    margin-bottom: 0;
  }

  span {
    top: 0;
  }

  input[type="checkbox"] {
    &:invalid + span {
      &::after {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
