.promo {
  margin-top: -120px;
  background-color: $color-black-pearl;

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    padding: 305px clamp($wrapper-padding-desktop-min, $wrapper-padding-desktop, $wrapper-padding-desktop-max) 280px;
    // background-color: $color-black-pearl;
    background-image: $black-to-bottom-promo, image-set(
      "../img/promo_background.webp" 1x,
      "../img/promo_background.png" 1x
    );

    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: 2dppx) {
      background-image: $black-to-bottom-promo, image-set(
        "../img/promo_background@2x.webp" 2x,
        "../img/promo_background@2x.png" 2x
      );
    }
  }

  & h2 {
    margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max) 40px;
    padding: 0;
    font-family: "Roboto Condensed", $font-sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #f2f5f7;
  }

  & p {
    margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max) 40px;
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    color: #f2f5f7;
  }

  & button {
    margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max) 40px;
  }
}
