.promo {
  margin-top: -120px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    margin-top: -100px;
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    padding: $promo-padding-top-desktop clamp($wrapper-padding-desktop-min, $wrapper-padding-desktop, $wrapper-padding-desktop-max) $promo-padding-bottom-desktop;
    background-color: $color-black-pearl;

    background:
    $black-to-bottom-promo,
    image-set(
      "../img/background.webp" 1x,
      "../img/background.png" 1x);

    @media (min-resolution: 2dppx) {
      background:
      $black-to-bottom-promo,
      image-set(
        "../img/background@2x.webp" 2x,
        "../img/background@2x.png" 2x);
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left, bottom 50% left;

    @include vp-1439 {
      padding: 9%;
      padding-top: 15%;
    }

    @include vp-1023 {
      padding: 180px 50px 205px;
      background-position: bottom left, bottom 50% left;
    }

    @include vp-767 {
      padding: 150px 35px 20px 25px;
      min-width: 320px;
      background-position: bottom left, bottom 50% left;
    }
  }

  & h2 {
    margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max) 31px;
    padding: 0;
    font-family: "Roboto Condensed", $font-sans-serif;
    font-weight: 700;
    font-size: min(4.16vw, 80px);
    line-height: 117.5%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #f2f5f7;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin: 0;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
    }
  }

  & p {
    margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max) 47px;
    padding: 0;
    font-weight: 400;
    font-size: min(1.14vw, 22px);
    line-height: 155%;
    color: #f2f5f7;

    @include vp-1023 {
      font-size: 22px;
      margin: 0;
      margin-bottom: 50px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }

  & button {
    margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max);
    padding: 15px 27px 19px;
    font-size: min(0.936vw, 22px);
    line-height: 116%;

    @include vp-1023 {
      font-size: 18px;
      line-height: 21px;
      margin: 0;
      margin-left: 45px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
      margin: 0;
    }
  }
}
