.promo {
  margin-top: -30px;
  background-color: $color-black-pearl;

  /* stylelint-disable */
  background-image:
    $black-to-bottom-promo,
    image-set(
      "../img/background.webp" 1x,
      "../img/background.png" 1x
    );

  @media (min-resolution: 2dppx) {
    background-image:
      $black-to-bottom-promo,
      image-set(
      "../img/background@2x.webp" 2x,
      "../img/background@2x.png" 2x
      );
  }
  /* stylelint-enable */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left, bottom -200px left;

  @include vp-1023 {
    background-size: 1396px;
    background-position: bottom left, bottom -145px left -123px;
  }

  @include vp-767 {
    background-size: 1220px;
    background-position: bottom left, bottom -127px left -229px;
  }
}

.promo__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  padding: 214px clamp($wrapper-padding-desktop-min, $wrapper-padding-desktop, $wrapper-padding-desktop-max) 280px;

  @include vp-1439 {
    padding-left: 9%;
    padding-right: 9%;
  }

  @include vp-1023 {
    padding: 110px clamp($wrapper-padding-tablet-min, $wrapper-padding-tablet, $wrapper-padding-tablet-max) 205px;
  }

  @include vp-767 {
    padding: 110px clamp($wrapper-padding-mobile-min, $wrapper-padding-mobile, $wrapper-padding-mobile-max) 190px;
    min-width: 320px;
  }
}

.promo h2 {
  margin: 0 10px 33px clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max);
  padding: 0;
  font-family: "Roboto Condensed", $font-sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @include vp-767 {
    margin-bottom: 9px;
    font-size: 36px;
    line-height: 42px;
  }
}

.promo p {
  margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max) 46px;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: #f2f5f7;

  @include vp-1023 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 57px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 44px;
  }
}

.promo br {
  @include vp-767 {
    display: none;
  }
}

.promo__button {
  margin: 0 clamp($promo-margin-desktop-min, $promo-margin-desktop, $promo-margin-desktop-max);
  padding: 15px 27px 19px;
  font-size: min(0.94vw, 22px);
  line-height: 116%;

  @include vp-1023 {
    padding: 16px 27px 18px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    margin-left: 45px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    width: 100%;

    padding: 12px 27px;
  }
}
