
/* roboto-condensed-regular*/
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
  font-display: swap;
}

/* roboto-condensed-bold*/
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold.woff") format("woff");
  font-display: swap;
}

/* pt-mono-regular */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-regular.woff") format("woff");
  font-display: swap;
}

// Шрифт аналоги
$font-sans-serif: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-monospace: "Courier New", "Courier", monospace;
